[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
fastapi = "*"
black = "*"
uvicorn = "*"
python-dotenv = "*"
alembic = "*"
psycopg2-binary = "*"
sqlalchemy = "==1.4.48"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
